#IMG="gentoo.img"
#ISO="install-amd64-minimal-20150430.iso"
#STAGE=stage3-amd64-20150507.tar.bz2
#PORTAGE=portage-20150511.tar.bz2
#QEMU_MEMORY="512"
#QEMU_NET_TYPE="user"
#QEMU_EXTRA_OPTS=
#KERNEL_CONFIGURE=1
#KERNEL_MAKE_OPTS="-j$(nproc)"
#EMERGE_EXTRA_PACKAGES=""
